<% @title="Meet the Team" %>
<div class="participants">
	<div class="container text-center">
		<div class="page-top-space"></div>
		<div class="title-text">Team Members</div>
		<div class="team">
			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "namrata-ib-min.JPG", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Namrata Subramanian</b>
							</h3>
							<h4>President | namrata.s@berkeley.edu</h4>
							<p>Hey innovators! My name is Namrata and I am a 3rd year majoring in Econmics and Public Health, and minoring in Math and Science Education. I have lived in the Bay Area all my life and I call both Cupertino and Cal my home. I love to learn new dance styles, go on long-distance runs, hit the gym, and eat a variety of different foods. My favorite music artists include Migos, Ty Dolla $ign, and Ed Sheeran. I am super excited to see even more of y’all at the Innovation Summit next semester and at our various events throughout the year :) Go bears!!</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td>
							<div class="bio2">
							<h3>
								<b>Evan Corriere</b>
							</h3>
							<h4>VP of Internal Affairs | evancorriere@berkeley.edu</h4>
							<p>Hey! My name is Evan Corriere, a Computer Science and Math major. I quickly found an amazing community here in Innovate Berkeley and have really enjoyed having the ability to help innovators! As leader of the Internal Team, I work on connecting Berkeley Students to speakers, managing our Core Team, and planning for the next Innovation Summit. Outside of Innovate Berkeley, I skateboard through campus and go to the gym in order to justify my ice cream addiction. </p>
							</div>
						<td>
						<td width="30%">
							<%= image_tag "evan-ib-min.JPG", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "shirley-min.JPG", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Shirley Wang</b>
							</h3>
							<h4>Position | email </h4>
							<p>Bio coming soon! Evan is my favorite member of IB by far!</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td>
							<div class="bio2">
							<h3>
								<b>Saahil Chadha</b>
							</h3>
							<h4>posite | saahilchadha@berkeley.edu</h4>
							<p>Bio Inbound !!!!</p>
							</div>
						<td>
						<td width="30%">
							<%= image_tag "saahil.jpg", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "bernard-ib-min.JPG", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Bernard Zhao</b>
							</h3>
							<h4>External Lead | bernardzhao@berkeley.edu</h4>
							<p>Sophomore, intended CS from the greater Sacramento area. 2017 IB participant, hobbyist hacker, amatuer creative, hip hop fan and clout enthusiast.</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Mantej Panesar</b>
							</h3>
							<h4>Core Team Member | mantejpanesar@berkeley.edu</h4>
							<p>Hi everyone! My name is Mantej Panesar and I’m an Intended Computer Science major from the Bay Area. I enjoy listening to rap music, rewatching Psych episodes multiple times, and playing sports with friends. I am excited to be a part of Innovate Berkeley’s Core Team this year.</p>
							</div>
						<td>
						<td>
							<%= image_tag "MantejIB-min.JPG", class: "member-img" %>
						<td>
					</tr>
			</table>

		</div>
	</div>
</div>
<footer>
	<p align="center">
		We are a student group acting independently of the University of California.
		We take full responsibility for our organization and this web site.
	</p>
</footer>
